a {
    text-decoration: none;
}

a:link {
    color: #0281ca;
}

a:visited {
    color: #2D333C;
}

.content {
    padding: 2em 1em 0;
}

.credits {
    font-size: 0.7em;
}

.footer {
    color: #333;
    font-size: 0.8em;
    padding: 2em 10%;
    text-align: center
}

.logo img {
    padding: 0 10%;
    width: 80%;
}

#map {
    height: 100%;
}

.sidebar {
    background-color: #000;
    border-right: 1px #ccc solid;
    height: 15em; /* FIXME: Hardcoded */
}

.todo ul {
    list-style-type: none;
    padding: 0;
}

.todo ul li {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    text-transform: uppercase;
    font-size: 0.8em;
}

button#button {
    width: 83%;
}

@media (min-width: 48em) {
    .content {
        padding: 1em 2em;
        margin-left: 75%;
    }

    .footer {
        bottom: 0;
        padding: 2em 20% 2em 0;
        position: fixed;
        width: 20%;
    }

    .logo img {
        padding: 0;
    }

    .sidebar {
        bottom: 0;
        height: 100%;
        position: fixed;
        top: 0;
    }
}