<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>TravellingShoppr</title>
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.1.0/pure-min.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
    </head>
    <body>
        <div class="pure-g-r">

            <div class="header pure-u-1">
                <h1 class="pure-u-1">TravellingShoppr</h1>
                <h2 class="pure-u">The next level of shopping experience (fix this!)</h2>
            </div>

            <div class="search-box pure-u-1">
                <form class="pure-form" action="/justdial/" method=post enctype=multipart/form-data>
                    <input class="pure-input-1-4" type="text" name="query" placeholder="Shopping for?"/ required>
                    <button type="submit" id="search" class="pure-button pure-button-primary">Build Itinerary</button>
                </form>
            </div> 

            <div class="footer pure-u-1">
                <p>Powered by <a href="http://www.justdial.com/">Justdial</a> and <a href="http://www.olacabs.com/">Ola.</a></p>
            </div>

            <div class="credits pure-u-1">
                <p><a href="https://github.com/racheesingh">@racheesingh</a> and <a href="https://github.com/emaadmanzoor">@emaadmanzoor</a></p>
            </div>

        </div>
    </body>
</html>
